@use '../settings/spaces';

.row {
    display:flex;
    margin-left: - spaces.$mid-space;
    margin-right: - spaces.$mid-space;
    flex-wrap: wrap;
    // border: 1px solid lightgrey;
}

.row--nowrap {
    @extend .row;
    flex-wrap: nowrap;
}

.nowrap {
    flex-wrap: nowrap;
}